*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgreen;
}

.container{
    background-color: darkblue;
    margin: 10% auto;
    width: 63%;
    padding: 10%;
    border-radius: 100px;
}
.header{
    background-color: yellow;
    margin: 1% auto;
    padding: 5%;
    border-radius: 25px;
  
}
.header *{
 
    width: max-content;
    margin: 2% auto;
    padding: 0px 9px;
    border-radius: 10px;
    
}
.header>h1{
    color: red;
    background-color: white;
    padding: 10px 20px;
    margin: 5% auto;

}
.header>h1:hover{
    color: white;
    background-color: red;
}
.header>h3{
    background-color: lightblue;
    color: orangered;
    padding: 15px 30px;
    font-weight: 200;
    font-size: 150%;
    margin: 5% auto;
}
.header>h3:hover{
    color: lightblue;
    background-color: orangered;
    font-weight: 1000;
}
.header>h2{
    color: yellow;
    background-color: blue;
    padding: 10px 20px;
    margin: 5% auto;
}
.header>h2:hover{
    color: blue;
    background-color: yellow;
    border: black 2px solid;

}
.form{
    padding: 10%;
    margin: 10% auto;
    border-radius: 5%;
}

input, select{
    font-size: 120%;
    padding: 2% 4%;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    margin-bottom: 3%;
    
}
#thanks{
    display: none;
}
label{
    font-size: 150%;
}
.img{
    background-color: green;
    width: max-content;
    margin: 50px auto;
    padding: 7.2%;
    
    
}
.img>h5{
    font-size: 300%;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    color: blue;
    width: max-content;
    margin: 10px auto;
    padding: 9px 18px;
    border-radius: 20px;
}
.last>p{
    margin: 0px 100px 100px 100px;
    box-shadow: yellow 0px 0px 20px 20px;
    background-color: azure;
    color: lightskyblue;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 200%;

}
textarea{
    display: block;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 117%;
}
.last>label{
    text-align: center;
    background-color: palegreen;
    color: rgb(231, 38, 96);
    font-size: 150%;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 10px;
   
    

}
.last{
    text-align: center;
   
}
form>p:first-of-type{
    background-color: rgb(231, 200, 23);
    color: red;
    
}
form>p:nth-of-type(2){
    background-color: purple;
    color: lightgreen;
}
form>p:nth-of-type(3){
    color: lightslategrey;
    background-color: rgb(196, 196, 184);
    box-shadow: 0px 0px 15px 15px white;
    margin-top: 40px;

}
form>p{
    padding: 1% 5%;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 150%;
    font-weight: 1000;
}
img{
    width: 500px;
    height: 300px;
    opacity: 0.5;
    border: yellow 50px solid;
    border-radius: 50px;
    margin-top: 5%;
}

img:hover{
    opacity: 1;
}

.form{
    background-color: black;
    color: white;
}
#yes{
    width: max-content;
    
    padding: 9px 18px;
    border-radius: 4px;
    color: orange;
    background-color: white;
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin: 20px auto 5px auto;
    box-shadow: 0px 0px 10px 10px orange;

}

#yes:hover{
    color: white;
    background-color: orange;
    border: 3px solid yellow;
    font-size: 200%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px lightsteelblue;

}
#button{
    background-color: khaki;
    color: magenta;
    width: max-content;
    padding: 10px 20px;
    font-size: 200%;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}
#button:hover{
    background-color: magenta;
    color: paleturquoise;
    box-shadow: 0px 0px 10px 10px whitesmoke;
    cursor: pointer;
}
h4{
    
    box-shadow: 0px 0px 10px 10px chartreuse ;
    background-color: darkgrey;
    color: firebrick;
    margin: 40px auto 20px auto;
    width: max-content;
    padding: 10px 20px;
    font-size: 150%;
    
}

hr{
    margin: 36px 0px;
}
#done{
    display: block;
    text-align: center;
    
}

#reason{
    color: limegreen;
    background-color: paleturquoise;
    font-weight: 1000;
    padding: 10px 20px;
    margin: 20px auto 40px auto;
    border-radius: 3px;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,500;0,700;0,900;1,400;1,600&display=swap');
#goback>#btngo{
    font-family: 'Grandstander', cursive;
    font-size: 300%;
    color: limegreen;
    font-weight: 1000;
    padding: 20px 40px;
    border-radius: 40px;
     background-color: transparent;
}
#goback>#btngo:hover{
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}
#goback{
    text-align: center;
}

a{
    text-decoration: none;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .copy>input{
    width: 200px;  
    height: 20px;
    border-radius: 3px;
    font-size: 100%;
    padding: 5px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px 10px yellow;
  }

  .copy button{
      background-color: lawngreen;
      color: lightcoral;
      font-size: 100%;
      padding: 5px;
      margin: 0px 20px;
      border-radius: 5px;
      font-weight: 700;
  }
  .copy{
      background-color: lightblue;
      font-weight: 1000;
      text-align: center;
      width: max-content;
      padding: 40px;
      margin: auto;
     border-radius: 10px;
     box-shadow: lightslategray 0px 0px 10px 10px;
  }

  .copy button:hover{
      transform: scale(1.25);
  }
